:root{
  
   --black1: #1F1534;
   --black2: #000000;
   --grey1: #7D7987;
   --blue1:#458FF6;
   --white1:#FFFFFF;
    --grey2: #E5E5E5;
    --white2:#FFFFFF;
    --blue2: #5A98F2;
    --blue3:#4089ED;
}